<a href="https://colab.research.google.com/github/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/main/batsman_most_runs_ODI.csv"

In [20]:
# method 1
# reading a csv file 
df = pd.read_csv("https://raw.githubusercontent.com/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/main/batsman_most_runs_ODI.csv")

display(df.head(2))

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88

In [23]:
print(df.tail(2))

                     Player       Span  Mat  Inns  NO  Runs   HS    Ave    BF  \
90  Abdul Razzaq (Asia/PAK)  1996-2011  265   228  57  5080  112  29.70  6252
91        PR Stirling (IRE)  2008-2022  136   133   3  5047  177  38.82  5840

       SR  100  50   0   4s   6s
90  81.25    3  23  14  382  124
91  86.42   12  26  10  541  114

In [ ]:
print(df.shape)

(92, 15)