<a href="https://colab.research.google.com/github/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [12]:
# method 1
# reading a csv file 
df = pd.read_csv("batsman_most_runs_ODI.csv")

display(df.head())

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1231,162
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,1500,270
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,1119,76

In [9]:
print(df.tail())

                  Player       Span  Mat  Inns  Balls  Runs  Wkts    Ave  \
72  SR Tendulkar (INDIA)  1989-2012  463   270   8054  6850   154  44.48
73       BAW Mendis (SL)  2008-2015   87    84   4154  3324   152  21.86
74     Rashid Khan (AFG)  2015-2022   80    76   4074  2821   151  18.68
75     UDU Chandana (SL)  1994-2007  147   136   6142  4818   151  31.90
76      R Ashwin (INDIA)  2010-2022  113   111   6141  5058   151  33.49

    Econ    SR  4  5
72  5.10  52.2  4  2
73  4.80  27.3  7  3
74  4.15  26.9  5  4
75  4.70  40.6  4  1
76  4.94  40.6  1  0

In [13]:
print(df.shape)

(92, 15)