<a href="https://colab.research.google.com/github/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/main/batsman_most_runs_ODI.csv"

In [5]:
# method 1
# reading a csv file 
df = pd.read_csv("https://raw.githubusercontent.com/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/main/batsman_most_runs_ODI.csv")

display(df.head(2))

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21368,86.23,49,96,20,2016,195
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1385,88

In [6]:
print(df.tail(2))

                     Player       Span  Mat  Inns  NO  Runs   HS    Ave    BF  \
90  Abdul Razzaq (Asia/PAK)  1996-2011  265   228  57  5080  112  29.70  6252
91        PR Stirling (IRE)  2008-2022  136   133   3  5047  177  38.82  5840

       SR  100  50   0   4s   6s
90  81.25    3  23  14  382  124
91  86.42   12  26  10  541  114

In [7]:
print(df.shape)

(92, 15)

In [10]:
# number of rows
print("number of rows = ", df.shape[0])

# number of columns
print("number of columns = ", df.shape[1])

number of rows =  92
number of columns =  15

In [14]:
# checking for missing values and data types of each column
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  92 non-null     object
 1   Span    92 non-null     object
 2   Mat     92 non-null     int64
 3   Inns    92 non-null     int64
 4   NO      92 non-null     int64
 5   Runs    92 non-null     int64
 6   HS      92 non-null     object
 7   Ave     92 non-null     float64
 8   BF      92 non-null     int64
 9   SR      92 non-null     float64
 10  100     92 non-null     int64
 11  50      92 non-null     int64
 12  0       92 non-null     int64
 13  4s      92 non-null     object
 14  6s      92 non-null     object
dtypes: float64(2), int64(8), object(5)
memory usage: 10.9+ KB
None

In [16]:
# checking data statistics
display(df.describe())

,Mat,Inns,NO,Runs,Ave,BF,SR,100,50,0
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,241.021739,226.891304,29.217391,7617.880435,39.145761,9560.043478,80.414239,12.217391,46.043478,12.847826
std,73.548964,69.194813,15.413585,2490.710229,6.264166,3112.855969,9.870732,8.580358,15.915928,6.101585
min,128.000000,126.000000,3.000000,5047.000000,23.570000,5504.000000,60.570000,0.000000,23.000000,2.000000
25%,189.500000,179.000000,16.000000,5760.000000,35.017500,7422.250000,74.125000,6.000000,35.000000,8.000000
50%,229.000000,217.500000,29.500000,6855.000000,38.730000,9144.500000,78.960000,10.500000,41.500000,13.000000
75%,274.750000,256.500000,40.000000,8661.250000,42.340000,10957.000000,87.167500,16.250000,52.250000,16.000000
max,463.000000,452.000000,84.000000,18426.000000,58.070000,21368.000000,117.000000,49.000000,96.000000,34.000000

In [25]:

print(df.columns)

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

In [28]:
col_names = ['Player', 'Mat', 'Runs', '100']
df_usecols = pd.read_csv("https://raw.githubusercontent.com/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/main/batsman_most_runs_ODI.csv", usecols=col_names)

display(df_usecols.head(50))

                          Player  Mat   Runs  100
0           SR Tendulkar (INDIA)  463  18426   49
1    KC Sangakkara (Asia/ICC/SL)  404  14234   25
2           RT Ponting (AUS/ICC)  375  13704   30
3        ST Jayasuriya (Asia/SL)  445  13430   28
4     DPMD Jayawardene (Asia/SL)  448  12650   19
5                V Kohli (INDIA)  260  12311   43
6      Inzamam-ul-Haq (Asia/PAK)  378  11739   10
7         JH Kallis (Afr/ICC/SA)  328  11579   17
8        SC Ganguly (Asia/INDIA)  311  11363   22
9      R Dravid (Asia/ICC/INDIA)  344  10889   12
10         MS Dhoni (Asia/INDIA)  350  10773   10
11             CH Gayle (ICC/WI)  301  10480   25
12              BC Lara (ICC/WI)  299  10405   19
13               TM Dilshan (SL)  330  10290   22
14    Mohammad Yousuf (Asia/PAK)  288   9720   15
15        AC Gilchrist (AUS/ICC)  287   9619   16
16       AB de Villiers (Afr/SA)  228   9577   25
17          M Azharuddin (INDIA)  334   9378    7
18              PA de Silva (SL)  308   9284   11
19             RG Sharma (INDIA)  230   9283   29
20             Saeed Anwar (PAK)  247   8824   20
21            S Chanderpaul (WI)  268   8778   11
22     Yuvraj Singh (Asia/INDIA)  304   8701   14
23                DL Haynes (WI)  238   8648   17
24              LRPL Taylor (NZ)  233   8581   21
25              MS Atapattu (SL)  268   8529   11
26                ME Waugh (AUS)  244   8500   18
27     V Sehwag (Asia/ICC/INDIA)  251   8273   15
28                  HM Amla (SA)  181   8113   27
29                 HH Gibbs (SA)  248   8094   21
30  Shahid Afridi (Asia/ICC/PAK)  398   8064    6
31           SP Fleming (ICC/NZ)  280   8037    8
32               MJ Clarke (AUS)  245   7981    8
33             Tamim Iqbal (BAN)  225   7826   14
34          EJG Morgan (ENG/IRE)  246   7701   14
35                SR Waugh (AUS)  325   7569    3
36            Shoaib Malik (PAK)  287   7534    9
37              A Ranatunga (SL)  269   7456    4
38           Javed Miandad (PAK)  233   7381    8
39             Younis Khan (PAK)  265   7249    7
40            Saleem Malik (PAK)  283   7170    5
41                 NJ Astle (NZ)  223   7090   16
42             GC Smith (Afr/SA)  197   6989   10
43         WU Tharanga (Asia/SL)  235   6951   15
44               MJ Guptill (NZ)  186   6927   16
45                MG Bevan (AUS)  232   6912    6
46                G Kirsten (SA)  185   6798   13
47                A Flower (ZIM)  213   6786    4
48         Shakib Al Hasan (BAN)  221   6755    9
49             IVA Richards (WI)  187   6721   11

In [37]:
col_nums = [0,2,5,10]

df_usecols_index = pd.read_csv("https://raw.githubusercontent.com/Ronisp/Learn_Data_Preprocessing_for_Machine_Learning_with_Python/main/batsman_most_runs_ODI.csv", usecols=col_names)
display(df_usecols_index.head(10))
print(df_usecols_index.shape)

                        Player  Mat   Runs  100
0         SR Tendulkar (INDIA)  463  18426   49
1  KC Sangakkara (Asia/ICC/SL)  404  14234   25
2         RT Ponting (AUS/ICC)  375  13704   30
3      ST Jayasuriya (Asia/SL)  445  13430   28
4   DPMD Jayawardene (Asia/SL)  448  12650   19
5              V Kohli (INDIA)  260  12311   43
6    Inzamam-ul-Haq (Asia/PAK)  378  11739   10
7       JH Kallis (Afr/ICC/SA)  328  11579   17
8      SC Ganguly (Asia/INDIA)  311  11363   22
9    R Dravid (Asia/ICC/INDIA)  344  10889   12

(92, 4)